%typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FFF; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 5;
  animation-delay: 4s;
  margin: 0;
  opacity: 0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; margin-left: 50%; }
  to { width: 100%; margin-left: 0; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}

@keyframes slideInLeft {
  from {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);

  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideInDown {
  from {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideInRight {
  from {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideInUp {
  from {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}
