$primary-color: #20A69A;
$primary-font-color: #fff;
$primary-font-family: 'Megrim', cursive;
$secondary-color: #2A3140;
$secondary-font-family: 'PT Sans Narrow', sans-serif;
$secondary-font-color: rgba(255, 255, 255, .7);
