.Landing {
  text-align: center;
  color: white;
  height: 100vh;
  display: grid;
}

.Landing h2 {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-size: 2.9rem;
  position: relative;
  transform: translateY(-1em);
}

.horizon {
  width: 100%;
  display: grid;
}

/*  Animation Styles */

.Animation {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

/* responsive  */



@media (max-width: 800px) {

  .Landing h2 {
    font-size: 1.5rem;
  }
  
  .ship{
    width: 50%;
  }

  .cloud{
    width: 50%;
  }

  section .newsContainer{
    height: initial;
  }
}


